/*Clases pequeñas y helpers*/

.no-margin {
  margin: 0;
}

// Estilos generales para los inputs y textarea
.section-contact {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -100;
    background-image: url('/assets/hero2.gif');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: bottom;
    transform: rotate(30deg);
    bottom: -30%;


  }
}

html[data-theme='dark'] .section-contact {

  &::before {
    background-image: url('/assets/herob.webp');
    background-size: 95%;
    background-position: bottom;
    transform: rotate(20deg);
    bottom: -30%;
    top: 20%;

  }
}