* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--c-text);
}

main {
  position: relative;
  // padding-top: 68px;

  margin: auto;
}

footer {
  // max-width: 1200px;
  margin: auto;
}

.responsive-mode-dark {
  max-width: 100px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: var(--font-head);
  line-height: 1.15;
  // color: var(--c-black);
  margin: 0.25rem 0;
  font-weight: 500;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  // color: var(--c-text);
  // opacity: 0.95;
  font-size: 18px;
  line-height: 148%;
  font-weight: 400;
  letter-spacing: 0.36px;
  color: #787878;
}

html[data-theme='dark'] p {
  color: #c4c4c4;
}

img {
  width: 100%;
  height: auto;
}

svg {
  display: block;
}

a {
  outline: none;
  outline: none;
  outline-offset: none;
  box-shadow: none;
  border-style: none;
}

/*
 * @todos
 * .gradient-blue-dark es utilizada seccion principios y
 * depende de este comportamiento para evitar flicker inicial.
 * Para customizaciones especificas de otros titulos,
 * crear una nueva clase y no sobrescribir esta.
 */

.gradient-blue-dark {
  background: var(--g-primary-dark);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: gradient-move 5s ease infinite, color-change 5s ease infinite;
  transition: color 1s ease, -webkit-text-fill-color 1s ease;


}

.gradient-blue-ligth {
  background: var(--g-primary-light);
  background-clip: text;
  // background-size: 200% 100%;

  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: gradient-move 15s ease infinite;
}

html[data-theme='dark'] .gradient-blue-dark {
  background: linear-gradient(90deg, #0563ff 0%, #476aa6 47.12%, #e2e2e2 100%);
  // font-weight: bold;
  // text-transform: uppercase;
  letter-spacing: 0.35px;
  // font-size: 1rem;
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradient-move 15s ease infinite;
}

.mode-dark {
  display: block;
}

.mode-light {
  display: none;
}

html[data-theme='dark'] .mode-dark {
  display: none;
}

html[data-theme='dark'] .mode-light {
  display: block;
}

html[data-theme='dark'] .mode-responsive {
  display: none;
}

html[data-theme='dark'] body {
  background: var(--c-black);
}

html[data-theme='dark'] body {
  background: var(--c-black);
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 4rem;
  height: auto;
  gap: 1rem;
  max-width: 1200px; //se agregó
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.section {
  padding: 72px 0;
  scroll-margin-top: 80px;

  &-title {

    width: 100%;
    display: flex;
    gap: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
    align-self: flex-start;



    p,
    h1,
    h2 {
      margin-top: 0.5rem;
      text-align: start;
      max-width: 50%;

      @include media(mobile) {
        width: 100%;
      }

    }


  }

  &-title-center {
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    align-self: center;



    p,
    h1,
    h2 {
      margin-top: 0.5rem;
      text-align: center;
      max-width: 50%;

      @include media(mobile) {
        width: 100%;
      }

    }

  }

  &-title-end {
    width: 100%;
    display: flex;
    align-self: flex-end;
    gap: 0rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1rem;

    p,
    h1,
    h2 {
      margin-top: 0.5rem;
      text-align: end;
      max-width: 50%;

      @include media(mobile) {
        width: 100%;
      }

    }


  }



}



/*2. Estilos de componentes específicos */
[data-theme='dark'] .badge {
  background: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.18);
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  background: var(--c-bg);

  z-index: 50;
}

[data-theme='light'] header {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  // border-bottom: 1px solid var(--c-line);
}

[data-theme='dark'] header {
  background: rgb(0, 0, 0, 0.8);
  // border-bottom: 1px solid var(--c-line);
  backdrop-filter: blur(8px);
}

[data-theme='dark'] #fundamentos .principles .card.principle {
  background: #141417 !important;
  border: 1px solid #3a3a3d;
}

[data-theme='dark'] #fundamentos .section-body p {
  color: #eaf0ff;
}

[data-theme='light'] #fundamentos .section-body p {
  color: var(--c-secondary) !important;
}

[data-theme='dark'] .principles .principle-title {
  color: #eaf0ff !important;
}

[data-theme='dark'] nav {
  background: var(--c-black) !important;
}

nav a {
  position: relative;
  color: var(--c-text);
  text-decoration: none;
}

nav a:hover::after,
nav a:focus::after {
  width: 100%;
}

a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

/*animaciones ref
https://github.com/fauziralpiandi/astrogent/blob/main/src/styles/globals.css      */

@keyframes gradient-move {
  0% {
    background-position: 0% 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 10% 0;
  }
}

/* Animación para cambiar de color negro a gradiente */

@keyframes color-change {
  0% {
    color: var(--c-text);
    -webkit-text-fill-color: var(--c-text);
  }

  50% {
    color: transparent;
    /* Hacemos el texto transparente en el medio */
    -webkit-text-fill-color: transparent;
  }

  100% {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

// Estilos generales para los inputs y textarea

.contact-form-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--c-white);
  border-radius: var(--radius);
  // box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  gap: 2rem;

  h2,
  p {
    text-align: center;
  }

  .contact-form {
    background-color: red !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;

    .form-item {

      .ant-input,
      .ant-select,
      .ant-input-number {
        border-radius: var(--radius);
        padding: 0.8rem;
        transition: border-color 0.3s ease;
      }

      .ant-form-item-has-error .ant-input,
      .ant-form-item-has-error .ant-select,
      .ant-form-item-has-error .ant-input-number {
        border-color: var(--c-error);
      }

      .ant-form-item .ant-checkbox {
        color: var(--c-text);
      }
    }
  }

  .submit-button {
    background: var(--c-primary);
    color: var(--c-white);
    border-radius: var(--radius);
    padding: 1rem;
    width: 100%;
    font-size: var(--h3);

    &:hover {
      background: var(--c-primary-accessible);
    }
  }

  @media screen and (max-width: 768px) {
    .form-fields {
      grid-template-columns: 1fr;
    }
  }
}

.form-input,
.form-textarea,
.form-select {
  width: auto;
  padding: 0.8rem;
  border-radius: var(--radius);
  border: 1px solid var(--c-line-acc);
  font-family: var(--font-body);
  font-size: 1rem;

  color: var(--c-text);

  &:focus {
    outline-offset: none;
    outline: 0.5px #fff;
    border-style: none;
    border-color: none;
    border-color: var(--c-primary);
    box-shadow: 0 0 5px var(--c-primary);
  }

  &::placeholder {
    color: var(--c-eye); // Color para el texto del placeholder
  }

  .ant-input {
    font-size: 1rem;
  }
}

// Estilos específicos para el TextArea (detalles del interés)
.form-textarea {
  min-height: 200px;
  padding: 1rem;
  resize: vertical; // Permitir el redimensionamiento vertical del textarea
}

// Estilos para el select dropdown
.form-select {
  padding: 0.8rem;
  border-radius: var(--radius);
  // border: 1px solid var(--c-line-acc);
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--c-text);

  &:focus {
    border-color: var(--c-primary);
    box-shadow: 0 0 5px var(--c-primary);
  }
}

// Estilos para el botón de enviar
.form-button {
  background: var(--c-primary);
  color: var(--c-white);
  padding: 1rem;
  border-radius: var(--radius);
  width: 100%;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: var(--c-primary-accessible);
  }
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: colum;
  gap: 2rem;
  padding: 1rem 0rem;

  &-submit {
    width: 100%;
    display: flex;
    padding: 1rem;

    justify-content: center;
  }

  @include media(tablet) {
    flex-direction: row;
  }
}

// Estilos para el checkbox de "Términos y condiciones"
.form-checkbox {
  font-size: 1rem;
  color: var(--c-text-muted);

  .ant-checkbox-input:checked+.ant-checkbox-inner {
    border-color: var(--c-primary);
    background-color: var(--c-primary);
  }
}

.ant-form-item {
  width: 100%;
}

// // Estilos para los campos con errores (cuando no pasan la validación)
// .ant-form-item-has-error .ant-input,
// .ant-form-item-has-error .ant-select,
// .ant-form-item-has-error .ant-input-number {
//   border-color: var(--c-error);

// }

// .ant-form-item-has-error .ant-input:focus,
// .ant-form-item-has-error .ant-select:focus,
// .ant-form-item-has-error .ant-input-number:focus {
//   border-color: var(--c-error);
// }

// .ant-form-item-explain-error {
//   color: var(--c-error);
//   font-size: 0.9rem;
//   margin-top: 0.25rem;
// }

// Layout y espaciado general del formulario